body, html {
  background: #2f363c;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  height: 80px;
  overflow: hidden;
}

#main {
  height: 100%;
}
#main .grid-three {
  width: 33.333%;
  min-width: 415px;
  float: left;
  min-height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
#main .grid-three:nth-of-type(1) {
  border-top: 3px solid rgb(222, 0, 255);
}
#main .grid-three:nth-of-type(2) {
  border-top: 3px solid rgb(0, 255, 36);
}
#main .grid-three:nth-of-type(3) {
  border-top: 3px solid rgb(0, 180, 255);
}
h2 {
  text-transform: uppercase;
  margin: 20px 0 0 30px;
  background: rgba(0, 0, 0, 0.1);
  width: 381px;
  padding: 0 4px;
  box-sizing: border-box;
  letter-spacing: 1px;
}
h3 {
  text-transform: uppercase;
}
.muniContainer,
.bartContainer {
  overflow: hidden;
}
.muni,
.bart {
  float: left;
  clear: both;
  margin: 2px 0 0 30px;
}
.muni .destinationContainer {
  width: 38px;
  height: 125px;
  float: left;
  position: relative;
  margin: 0 3px;
}
.muni .rotate {
  width: 125px;
  height: 38px;
  font-size: 12px;
  padding: 2px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  text-align: center;
}
.busnumber {
  font-size: 60px;
  float: left;
  height: 125px;
  width: 125px;
  text-align: center;
  line-height: 125px;
}
.nextbus {
  font-size: 75px;
  float: left;
  height: 125px;
  line-height: 125px;
  width: 150px;
  text-align: center;
  background: rgba(0,0,0,0.1);
}
.laterbuses {
  float: left;
  height: 125px;
  margin-left: 2px;
  background: rgba(0,0,0,0.1);
}
.laterbuses .time {
  height: 61px;
  width: 62.5px;
  text-align: center;
  line-height: 62.5px;
  margin: 0;
  font-size: 20px;
}
.laterbuses .time:first-child {
  border-bottom: 3px solid #2f363c;
}
.bart .destination {
  float: left;
  height: 100px;
  width: 166px;
  box-sizing: border-box;
  padding: 20px 4px 0;
  overflow:hidden;
  font-size: 24px;
  text-align: center;
  position: relative;
}
.bart .nextbus,
.bart .laterbuses {
  height: 100px;
  line-height: 100px;
}
.bart .laterbuses .time {
  height: 49px;
  line-height: 50px;
}
#muni12_4669 .busnumber,
#muni12_4668 .busnumber {
  background: #b304a9;
}
#muni49_5552 .busnumber,
#muni49_5551 .busnumber {
  background: #00b77d;
}
#muni14_5552 .busnumber,
#muni14_5551 .busnumber,
#muni14L_5552 .busnumber,
#muni14L_5551 .busnumber{
  background: #dca102;
}
#muni22_3299 .busnumber,
#muni22_7289 .busnumber {
  background: #0f6fb9;
}
#muni33_3299 .busnumber,
#muni33_7289 .busnumber {
  background: #b4304f;
}
#time {
  margin-left: 30px;
  background: rgba(0,0,0,0.1);
  width: 381px;
  height: 80px;
  overflow: hidden;
  padding-left: 10px;
  box-sizing: border-box;
}
#clock {
  font-size: 48px;
  line-height: 48px;
  padding-bottom: 2px;
  height: 50px;
  float: left;
}
#date {
  clear: left;
  float: left;
  font-size: 14px;
  letter-spacing: 4px;
}
#advisories {
  width: 33.3%;
  float: right;
  padding: 4px;
}

#weatherContainer {
  width: 33.3%;
  float: right;
}
#weather {
  width: 381px;
  padding: 7px 0 0 30px;
  margin-left: 30px;
  background: rgba(0,0,0,0.1);
  height:80px;
  box-sizing: border-box;
}
#weather .temp {
  font-size: 48px;
  float: left;
}
#weather .forecast {
  display: inline-block;
  font-size: 12px;
  width: 175px;
}
#weather .forecast img {
  float: left;
  margin: 8px 12px 0 8px;
  width: 50px;
}
.rotate {
  -webkit-transform: rotate(-90deg) translateY(38px);
  -moz-transform: rotate(-90deg) translateY(38px);
  -ms-transform: rotate(-90deg) translateY(38px);
  -o-transform: rotate(-90deg) translateY(38px);
  transform: rotate(-90deg) translateY(38px);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* For slabtext plugin */

.slabtexted .slabtext
{
display:-moz-inline-box;
display:inline-block;
white-space:nowrap;
}
.slabtextinactive .slabtext
{
display:inline;
white-space:normal;
font-size:1em !important;
letter-spacing:inherit !important;
word-spacing:inherit !important;
*letter-spacing:0 !important;
*word-spacing:0 !important;
}
.slabtextdone .slabtext
{
display:block;
}
