extends layout

block content

  #main
    header
      #weatherContainer
        #weather
          .temp
          .forecast1
          .forecast2
      #time
        #clock
        #date.slabtext
    .grid-three
      h2 Uber
      #uber.uberContainer
        .col
        .col
      .bartContainer
        .bart-advisories
        .col
          h2 BART Northbound
          #bart-north
        .col
          h2 BART Southbound
          #bart-south
    .grid-three
      .muniContainer
        .col
          h2.clear MUNI Northbound
          #muni-north
          h2.clear MUNI Westbound
          #muni-west
        .col
          h2.clear MUNI Southbound
          #muni-south
          h2.clear MUNI Eastbound
          #muni-east
    .grid-three
      h2 Tweets
      #twitter
        .scroll-wrap
      

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.5.3/jquery.timeago.min.js")

  script(src="javascripts/main.js")
